body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
}

ol, ul {
    padding-left: 30px;
}

/* home */
.frame {
    background-color: rgba(178, 199, 217, 1);
    width: 500px;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.gnb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*background-color: grey;*/
    padding: 20px;
    box-sizing: border-box;
}

.icon-right button {
    background-color: rgba(178, 199, 217, 1);
    border: none;
}
.search_icon {
    margin-right: 10px;
}

.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin-top: -50px;*/
}

.title {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    text-align: center;
}

.title h1 {
    font-size: 26px;
}

.title p {
    font-size: 16px;
    margin-top: -4px;
    margin-bottom: 40px;
    color: gray;
}


#name {
    font-size: 16px;
    width: 300px;
    height: 48px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2px auto -12px;
    padding: 0px;
    gap: 4px;
    border: none;
}

.home_button {
    font-size: 16px;
    width: 300px;
    height: 48px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2px auto;
    gap: 4px;
    background-color: rgba(254, 229, 0, 1);
    border: none;
    transition: 0.2s;
}

.home_button p {
    line-height: 14px;
    font-weight: bold;
}

.under {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    margin-top: 50px;
}

.plus_icon {
    margin: auto 8px;
}

.blank {
    width: 100%;
    height: 28px;
    background-color: rgb(249, 249, 249);
    border: solid 2px rgba(167, 167, 167, 0.5);
    border-radius: 14px;
    margin-right: 8px;
}

/* TestPage */
.question {
    text-align: center;
    width: 380px;
    background-color: white;
    padding: 24px 18px 24px 18px;
    border-radius: 20px;
}

.question h1 {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 40px;
    color: #8898a5;
    border-bottom: solid 1px #8898a5;
}

.question p {
    font-size: 15px;
    margin: 28px auto;
    line-height: 22px;
    /*text-align: justify;*/
}

.question span {
    font-weight: bold;
    font-size: 16px;
    /*color: #4a5b6a;*/
}

.question button {
    font-size: 14px;
    width: 340px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px auto;
    background-color: #ebebeb;
    border: none;
    transition: 0.2s;
    padding: 30px;
}

.question button:hover {
    background-color: #fee500;
    transform: scale(1.02);
}

/* Result Page */
.result-frame {
    background-color: rgba(178, 199, 217, 1);
    width: 500px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail {
    width: 416px;
    display: flex;
    flex-direction: row;
    margin: 8px auto 40px;
    font-size: 12px;
    gap: 8px;
    justify-content: center;
}

.detail h1 {
    font-size: 14px;
    color: #7f9cb6;
}

.detail h2 {
    font-size: 14px;
    font-weight: normal;
    color: #727272;
}

.detail h3 {
    margin-top: -8px;
    font-size: 16px;
}

.duo {
    text-align: center;
    background-color: white;
    padding: 14px 14px 8px 14px;
    border-radius: 20px;
    width: 50%;
    height: 300px;
}

.counter {
    text-align: center;
    background-color: white;
    padding: 14px 14px 8px 14px;
    border-radius: 20px;
    width: 50%;
    height: 300px;
}

.outcome {
    text-align: center;
    width: 380px;
    background-color: white;
    margin-top: 20px;
    padding: 24px 18px 12px 18px;
    border-radius: 20px;
}

.outcome h3:nth-child(1) {
    /*background-color: #92a2b2;*/
    border-radius: 20px;
    width: 360px;
    margin: 10px auto;
    color: #a7bbcb;
    /*color: white;*/
}

.outcome h3 span {
    color: #7f9cb6;
}

.outcome h3:nth-child(2) {
    /*background-color: #92a2b2;*/
    border-radius: 20px;
    width: 360px;
    margin: 8px auto 2px;
    color: #2b2b2b;
    font-weight: normal;
    font-size: 16px;
    /*color: white;*/
}

.outcome h2 {
    margin: 0 auto 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.outcome p {
    font-size: 24px;
    font-weight: bold;
    margin: 0px auto 18px;
    color: #4a5b6a;
}

.des span {
    font-weight: bold;
    font-size: 14px;
    color: #4a5b6a;
}

.des {
    margin: 4px auto;
    padding: 20px;
    width: 320px;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    border-radius: 20px;
    text-align: justify;
}

.btn button {
    font-size: 16px;
    width: 300px;
    height: 48px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4px auto;
    /*background-color: rgba(254, 229, 0, 1);*/
    background-color: white;
    border: none;
    transition: 0.2s;
}

.btn button:hover {
    background-color: rgba(254, 229, 0, 1);
}

.btn button p {
    line-height: 14px;
    font-weight: bold;
}
